---
layout: default
---

{% if paginator.page > 1 %}
	{% include pagination.html section="top" %}
{% endif %}

{% for post in paginator.posts %}
	<article>
		<a href="{{ site.baseurl }}{{ post.url }}" class="h1">{{ post.title }}</a>
			{% if post.coverPhoto %}
				<a href="{{ site.baseurl }}{{ post.url }}" class="ar-container">
					<span class="ar-content" style="background-image: url({{ post.coverPhoto }});"></span>
				</a>
			{% endif %}

		<section class="max-height">{{ post.content | strip_html | slice: 0, 200 }}</section>
		<div class="article__bottom">
			<span class="article__date">
				{{ post.date | date_to_long_string | upcase }}
			</span>
			<a class="article__button" href="{{ site.baseurl }}{{ post.url }}">CONTINUE READING</a>
		</div>
	</article>
{% endfor %}

{% include pagination.html section="bottom" %}