<nav class="pagination {{ include.section }}">
	<div class="column column1">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<a href="{{ site.baseurl }}">Newer Posts</a>
			{% else %}
				<a href="{{ site.baseurl }}/{{ site.paginateLabel }}/{{ paginator.previous_page }}">Newer Posts</a>
			{% endif %}
		{% else %}

			&nbsp;

		{% endif %}

	</div>

	<div class="column column2">
		<span> 
			{% if site.lang == "tr" %}
				Sayfa {{ paginator.page }}/{{ paginator.total_pages }}
			{% else %}
				Page {{ paginator.page }} of {{ paginator.total_pages }}
			{% endif %} 
		</span>

	</div>

	<div class="column column3">
		{% if paginator.next_page %}
			<a href="{{ site.baseurl }}/{{ site.paginateLabel }}/{{ paginator.next_page }}">Older Posts</a>
		{% endif %}

	</div><!-- .column3 -->
	<div class="cb"></div>

</nav>