---
layout: default
---

<article>
	<h1>{{ page.title }}</h1>
	<span class="article__date">
		{{ page.date | date_to_long_string | upcase }}
		{{ site.baseurl }}
	</span>

	<section>{{ page.content }}</section>
	<script id="diffblog-plugin-script" async="false" src="https://diff.blog/static/js/diffblog_plugin_v1.js"></script>
	<script>
			document.getElementById("diffblog-plugin-script").addEventListener("load", function () {
				DiffBlog(
					"uy0kvxlhkzli1s0qu9gikrj2ltya5269ldds20hyhet1k1ti1m"
				);
			});
	</script>

</article>

{% if site.disqusUsername != "" %}
	<div class="full">
		<div id="disqus_thread" class="mt mb"></div>
		<script async src="//{{ site.disqusUsername }}.disqus.com/embed.js"></script>
	</div>
{% endif %}
